<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instagram_id %><br />
    <%= f.text_field :instagram_id %>
  </div>
  <div class="field">
    <%= f.label :standard_url %><br />
    <%= f.text_field :standard_url %>
  </div>
  <div class="field">
    <%= f.label :thumb_url %><br />
    <%= f.text_field :thumb_url %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
